{
  "env": {
    "mocha": true
  },
  "overrides": [
    {
      "files": [
        "storage.js",
        "storage-map.js",
        "components/index.js"
      ],
      "rules": {
        "no-unused-expressions": "off"
      }
    }
  ]
}
