{
  "compact": true,
  "comments": false,
  "presets": [
    "env",
    "stage-0"
  ],
  "plugins": [
    [
      "module-resolver", {
        "alias": {
          "redux-storage-middleware": "./src"
        }
      }
    ]
  ]
}
